@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
  font-family: sans-serif;
  margin: 0;
  width: 100%;
}

body, img{
 background-color: hsl(207, 26%, 17%);
}
body, #search, input::placeholder, .select, .article-element, .btn{
  color: hsl(0, 0%, 100%);
}
.header, #search, .select, .article-element, .btn {
background-color: hsl(209, 23%, 22%);
}
.header,
.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-control, .select{
  border: 1px solid hsl(209, 23%, 22%) ;
  border-radius: 5px;
  /* box-shadow: 1px 1px #182129; */
}

/* Header */

.header {
  padding: 0 70px 10px;
  border-bottom: 2px solid #212d38;
}
.header h2{
  cursor: pointer;
}
.title{
  text-decoration: none;
}
.header .theme-mode {
  cursor: pointer;
}
.header .fa-moon {
  transform: rotate(-35deg);
}


/* Filter */

.filter {
  padding: 50px;
  margin: 10px;
}
form input[type=text]{
  padding-right: 100px;
}
#search {
  padding: 15px 10px;
  width: 22rem;
}
#search:focus, .select:focus {
  outline: none;
  border: 2px solid hsl(209, 23%, 22%);
}
input::placeholder {
  letter-spacing: 1px;
  font-size: 15px;
 
}

.filter .select {
  padding: 10px;
  margin: 0 40px;
  margin-bottom: 4px;
}


input.icon::-webkit-input-placeholder {
  font-family: "FontAwesome";
}
/* countries */
img {
  width: 100%;
  height: 200px; 
  border: 1px hsl(207, 26%, 17%);
  border-radius: 5px;
  margin-bottom: 0;
  overflow: hidden ;
  object-fit: cover;
}

.Countries {
  display: grid;
  
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
  padding: 60px ;
  padding-top: 0px;
  
}
.article-element{
  border: 2px solid hsl(209, 23%, 22%);
  border-top: none;
  border-left: none;
  border-radius: 5px;
  /* box-shadow: 1px 1px #182129; */
  
}
.article-element h4{
  margin-left: 20px;
}
.article-element h3{
  margin-left: 20px;
  font-size: 16px;
  font-weight: 300;
}
.article-element h3 span{
  
  font: .8em sans-serif;
  font-weight: 10;
}



@media (max-width: 790px) {
  .Countries {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 650px) {
  .header{
  
    padding: 0 30px 10px;
  }
    .filter{
    display: block;
    padding:  20px 0;
  }
  #search{
    width: 90%;
    
    margin-bottom: 20px;
  }
  .form-control{
    padding: 4rem;
  }
  .select{
    padding: 0;
    margin: 0;
  }
  .Countries {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media  (max-width: 500px) {
  .header{
    padding: 10px 10px ;
    
  }
  .header h2{
    font-size: 15px;
    padding-right:5px ;
  }

  .Countries {
    grid-template-columns: repeat(1, 1fr);
  }
  .article-element{
    text-align: center;
  }
  .article-element h4, h3{
    margin: 8px 0;
  }
}

